.vs/
Release/
VulkanBenchmark/Debug/vc141.idb
VulkanBenchmark/Debug/
Infrastructure/Debug - Vulkan/
Infrastructure/Release - Vulkan/
VulkanBenchmark/Debug - Vulkan/
VulkanBenchmark/Release - Vulkan/
Release - Vulkan/
VulkanBenchmarks/Debug - Vulkan/
Dissertation.VC.db
CMakeSettings.json
build/

\.idea/

\.vscode/
VulkanBenchmarks/MultiPass/DeferredRendering/imgui.ini
